﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>This is a paragraph.</p>

<ul>
    <li><a href="http://www.wou.edu/~morses">Class Web Page</a></li>
    <li>@Html.ActionLink("Page 1","Page1","Home")</li>
    <li>@Html.ActionLink("Page 2", "Page2", "Home")</li>
    <li>@Html.ActionLink("Page 3", "Page3", "Home")</li>
</ul>